<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matías Maldonado || Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bar.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/letterAnimation.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
    <!-- Header and Navbar -->
    <header>
      
      <div class="nav-wrapper">
        <nav>
          <div class="navigation">
            <ul class="nav-items">
              <li><a href="#about">Sobre Mí</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><button id="cv" class="show-modal">CV</button></li>
              <li><a href="/">Contact</a></li>
            </ul>
            <div class="nav-toogler"></div>
          </div>
        </nav>
      </div>

      <div class="modal hidden">
        <button class="close-modal">&times;</button>
        <img class="cv" src="/images/molpo_cv.jpg" alt="">
      </div>

      <div class="title" id="back-to-top">
        <div class="title-row animate-right">
          <h2>Hola, soy <h2 class="name animation">Matías    Maldonado</h2>.</h2>
        </div>
        <h2 class="animate-left">Soy un desarrolador web full-stack.</h2>
      </div>
    </header> 

    <!-- iMain section -->
    <main>

      <!-- About -->

      <div class="section--title" id="about">
        <h2>SOBRE MÍ</h2>
        <hr class="animate-right">
      </div>

      <section>

        
        <div class="about--card">
          <i class="fas fa-mobile-alt"></i>
          <p class="about--title">Responsive</p>
          <p class="about--p">Mis layouts funcionan en todos los dispositivos, grandes o chicos.</p>
        </div>
        
        <div class="about--card">
          <i class="far fa-lightbulb"></i>
          <p class="about--title">Intuitivo</p>
          <p class="about--p">Gran preferencia por facilitar el uso y la experiencia del usuario.</p>
        </div>
        
        
        <div class="about--card">
          <i class="fas fa-pen-fancy"></i>
          <p class="about--title">Detallista</p>
          <p class="about--p">No presento un trabajo hasta que el más minimo detalle este perfecto.</p>
        </div>
        <div class="about--card">
          <i class="fas fa-rocket"></i>
          <p class="about--title">Dinámico</p>
          <p class="about--p">Me gusta poner movimiento en las páginas para que no sean tan estáticas.</p>
        </div>

      </section>

      <section>
        <div class="about--img">
          <a href="#cv"><img id="molpo" src="/images/molpo.JPG" alt=""></a>
          <p class="about--title">Matías Agustín Maldonado</p>
          <p class="about--p"> Soy un desarrollador web full-stack en Tucumán, Argentina.
            Tengo una gran pasión por lo que hago, tanto así en el diseño como en el funcionamiento, siempre creando la mejor experiencia para el usuario.</p>
        </div>
      </section>

      <!-- Portfolio -->

      <section id="portfolio" class="portfolio">
        <div class="section--title" id="about">
          <h2>PORTFOLIO</h2>
          <hr class="animate-left">
        </div>

        <div class="card--row">
          <div class="card">
              <img src="/images/dado.png" alt="">
              <p class="card--title">Dado Vuelta <span class="animate-top">|</span></p>
              <hr class="card--line">
              <p class="card--description">Juego de azar entre dos jugadores. El primero en alcanzar 100 puntos gana,</p>
              <a href="https://dado-vuelta.herokuapp.com/">
                <div class="card--btn">VER MÁS</div>
              </a>
          </div>
          <div class="card">
              <img src="/images/brujula.png" alt="">
              <p class="card--title">Rumbo Sur <span class="animate-top">|</span></p>
              <hr class="card--line">
              <p class="card--description">Guía interactiva de viaje para el sur de Argentina. Los usuarios pueden agregar destinos.
              </p>
              <a href="https://rumbosur.herokuapp.com/">
                <div class="card--btn">VER MÁS</div>
              </a>
          </div>
          <div class="card">
            <img src="/images/campo-de-golf.png" alt="">
            <p class="card--title">Golf Scorecard <span class="animate-top">|</span></p>
            <hr class="card--line">
            <p class="card--description">Tarjeta de golf personalizable a cada cancha. Apta para 2 jugaadores.
            </p>
            <a href="https://aramayo.herokuapp.com/">
              <div class="card--btn">VER MÁS</div>
            </a>
        </div>
          <div class="card">
            <img src="/images/professional-portfolio.png" alt="">
            <p class="card--title">Mi Portfolio <span class="animate-top">|</span></p>
            <hr class="card--line">
            <p class="card--description">Esta misma página fue 100% creada por mi.
            </p>
            <div class="card--btn">VER MÁS</div>
        </div>
      </div>

      </section>


      <footer>
        <div class="back-to-top">
              <a href="#back-to-top">
                <i class="fas fa-chevron-up"></i>
              </a>
          </div>


          
        <div class="section--title">
          <h2>CONTÁCTAME</h2>
          <hr class="animate-left" style="background-color: #fff !important;">
        </div>
        
        <div class="footer--list">
          <article class="footer--section">
            <div class="footer--text">
              <ul>
                  <li>Tienes una pregunta o quieres que trabajemos juntos?</li>
              </ul>
            </div>


          <div class="fcf-body">

            <div id="fcf-form">
            <!-- <h3 class="fcf-h3">Contáctame</h3> -->

            <form id="fcf-form-id" class="fcf-form-class" method="POST" action="/">
                
                <div class="fcf-form-group">
                    <label for="yourname" class="fcf-label">Ingresa tu nombre:</label>
                    <div class="fcf-input-group">
                        <input type="text" id="Name" name="yourname" class="fcf-form-control" required>
                    </div>
                </div>

                <div class="fcf-form-group">
                    <label for="youremail" class="fcf-label">Ingresa tu email:</label>
                    <div class="fcf-input-group">
                        <input type="email" id="Email" name="youremail" class="fcf-form-control" required>
                    </div>
                </div>

                <div class="fcf-form-group">
                    <label for="yourmessage" class="fcf-label">Ingresa tu mensaje:</label>
                    <div class="fcf-input-group">
                        <textarea id="Message" name="yourmessage" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
                    </div>
                </div>

                <div class="fcf-form-group">
                    <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Enviar Mensaje</button>
                </div>

            </form>
            </div>

          </div>

          </article>
          

          <article class="footer--section">
            
            <p class="footer--title">Follow Me</p>
            <ul>
              <li class="social"> 
                            <a href="https://www.facebook.com/matiasmaldo99/"><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-twitter"></i> </a>
                            <a href="https://www.instagram.com/matias.maldonadoo/"><i class="fab fa-instagram"></i> </a>
                            <a href="https://open.spotify.com/artist/21H3kmfH4cibcoMq3IG93y?si=bpz21EAuSWmIPrYesXNvYw&dl_branch=1"><i class="fab fa-spotify"></i></a>
                        </li>
                    </ul>
                </div>
              </article>



        </div>
                <p class="copyright">© 2021 Matías A. Maldonado. All Rights Reserved. Terms, Privacy & Accessibility</p>
            
        </footer>
    </main>


    <script src="/javascripts/toggler.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/letterAnimation.js"></script>
    
  </body>
</html>
